#maplendar-invite-form .description{
	font-size: 0.7em;
}

.footer{
	padding: 0 10px 10px;
	background: #eee;
}

.description{
	font-size: 0.6em;
	padding-bottom: 20px;
}
div.password-confirm{
	padding-bottom: 20px;
}

div.password-strength{
	display: none;
}
